<h1 class="text-center">Welcome to our flight booker!</h1>
<%= render "flights/search_form", flight: @flight %>
<% if @found_flights && @found_flights.count > 0 %>
  <h5 class="text-center">Please choose a flight!</h5>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Duration</th>
        <th scope="col">Departure Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col"># Passengers</th>
      </tr>
    </thead>
    <tbody>
      <%= form_with url: new_booking_path, method: :get, local: true do |form| %>
        <% @found_flights.each_with_index do |flight, index| %>
          <tr>
            <td>
              <% if index === 0 %>
                <%= radio_button("booking", "flight_id", "#{flight[:id]}", checked: true)%>
              <% else %>
                <%= radio_button("booking", "flight_id", "#{flight[:id]}")%>
              <% end %>
            </td>
            <td><%= flight.duration %></td>
            <td><%= flight.departure_date.strftime("%A, %B %d %Y") %></td>
            <td><%= flight.from.code %></td>
            <td><%= flight.to.code %></td>
            <td><%= @number_of_passengers %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
        <br>
            <%= hidden_field(:booking, :number_of_passengers, :value => @number_of_passengers) %>
            <div class="actions">
              <%= form.submit "Book Flight!", data: { disable_with: "Submitting..." }, class: "btn btn-secondary" %>
            </div>
      <% end %>
    <% elsif @random_flight %>
      <p>No flights match your search query!</p>
      <h2>Recommended flight:</h2>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Duration</th>
            <th scope="col">Departure Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col"># Passengers</th>
          </tr>
        </thead>
        <tbody>
          <%= form_with scope: :booking, url: new_booking_path, method: :get, local: true do |form| %>
            <% if @booking.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

                <ul>
                <% @booking.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <tr>
              <td>
                <%= radio_button("booking", "flight_id", "#{@random_flight[:id]}", checked: true)%>
              </td>
              <td><%= @random_flight.duration %></td>
              <td><%= @random_flight.departure_date.strftime("%A, %B %d %Y") %></td>
              <td><%= @random_flight.from.code %></td>
              <td><%= @random_flight.to.code %></td>
              <td><%= @number_of_passengers %></td>
            </tr>
             </tbody>
    </table>
    <br>
            <%= hidden_field(:booking, :number_of_passengers, :value => @number_of_passengers) %>
            <div class="actions">
              <%= form.submit "Book Flight!", data: { disable_with: "Submitting..." }, class: "btn btn-secondary" %>
            </div>
          <% end %>
        <% end %>
