<ul class="list-group">
  <li class="list-group-item"><strong>Flight ID:</strong> <%= flight[:id]%></li>
  <li class="list-group-item"><strong>Departure Date:</strong> <%= flight[:departure_date]%></li>
  <li class="list-group-item"><strong>From:</strong> <%= flight.from.code%></li>
  <li class="list-group-item"><strong>To:</strong> <%= flight.to.code%></li>
  <li class="list-group-item"><strong>Duration:</strong> <%= flight[:duration]%></li>
</ul>