<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% @number_of_passengers.times do %>
  <%= fields_for booking.passengers.build do |passenger| %>
    Name  : <%= passenger.text_field :name %>
  <% end %>
<% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
