<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field(:booking, :flight_id, :value => @booking.flight_id) %>
  <%= form.fields_for :passengers do |passenger_form| %>
    Name  : <%= passenger_form.text_field :name %>
    Email  : <%= passenger_form.text_field :email %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
